@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300&family=Hind+Siliguri:wght@500&family=Kanit:wght@300&family=Merriweather&family=Mulish&family=Oswald&family=PT+Sans+Narrow&family=Roboto+Condensed&display=swap');

#header {
  width: 1548px;
  height: fit-content;
  position: fixed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background-color: #fff;
  z-index: 999;
}

#logo {
  width: 15%;
  font-size: 32px;
  font-weight: 600;
  padding: 0px;
}

#logo>p {
  color: black;
  margin-left: 10px;
}

#logo>p>span {
  cursor: pointer;
}

#list {
  width: 67%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  padding: 0px;
}

#list>ul {
  margin-left: 25px;
}

#list>ul>li p {
  cursor: pointer;
}

#list_Login {
  width: 17%;
  display: flex;
  justify-content: right;
  padding: 0px;

}

#list_Login>ul {
  margin-left: 15px;
}

#list_Login>ul>li>button {
  margin: 0 4px;
}



.modal-full-width {
  width: 1800px;
  height: max-content;
  max-width: 100%;
  margin-top: -0.5px;
  border: 0px;
  box-sizing: border-box;

}

.modal-header > input{
  width:40%;
  height:40px;
  margin-left:30%;
  border-radius:50px;
  text-indent:20px;
  border: 0.5px solid;
}


.modal-header > button{
  width: 28px;
  height: 28px;
  line-height: 20px; 
  border-radius: 110px;
}

.modal-body-search{
  width: 1500px;
  height: 380px;
  margin-left:35px;
  margin-top: 40px;
}

.popular{
  width: 15%;
  box-sizing: border-box;
}
.popular > ul {
  margin-top: 35px;
}
.popular > ul >li{
  width: 150px;
  height: fit-content;
  margin-bottom: 13px;
}
.popular > ul >li >a{
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.popular > ul >li >a:hover{
  color: #9c9797;
}




.explore{
  width: 400px;
  height: 300px;

}
.control-box > .popular > p,
.control-box > .explore > p
{
  color: #9c9797;
  font-weight: 600;
  font-size: 15px;
}

.explore > ul{
  max-width:400px;
  margin-top: 30px;
}
.explore > ul > li{
  width: 90px;
  height: 120px;
  word-wrap: break-word;
  display:inline-table;
  text-align: center; 
  margin-bottom: 32px;
}
.explore img{
  width: 70px;
  height: 70px;
  cursor: pointer;
  padding: 3px;
}
.explore img:hover{
  border: 1px solid black;
}

.title-search{
  width: 90px;
  height: max-content;
  text-align: center;
  word-wrap: break-word;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
}