/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
  display: flex;
  justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.wrapper i{
  top: 17%;
  height: 22px;
  width: 22px;
  color: #343F4F;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 16px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:first-child{
  left: 310px;
  display: none;
}
.wrapper i:last-child{
  right: 310px;
}
.wrapper .carousel{
  overflow: hidden;
  margin-top: 80px;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging {
  pointer-events: none;
}
.carousel img{ 
  width: 80px;
  height: 80px;
  object-fit: cover;
  user-select: none;
  cursor: pointer;
  padding: 3px;
}
.carousel img:hover{
  border: 1px solid black;
}
.carousel{
  /* max-width: 42%; */
  max-width: 54.5%;
}
.carousel > ul {
  display: flex;
  justify-items: start;
  align-content: center;
  padding-left: 0px;
}
.carousel > ul > li{
  list-style-type:none;
  margin: 0 4px;
  text-align: center;
}
.title{
  width: 80px;
  height: fit-content;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 7px;
  font-size: 15px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel ul li img{
    width: 100%;
  }
}
